.cj-carousel-root-3-cols.cj-default{
	margin: 15px;
}

.cj-carousel-row-item {
	float  : left;
	margin : 10px;
	padding: 10px;
}

.cj-carousel-row {
	height: 200px;
}

.cj-carousel-page {
    float	   : left;
	/*width      : 540px;  should be row-item's width * cols**/
    list-style : none;
	position   : relative;
}

.cj-carousel-row-item:hover{
	background-color : #f9f9f9;
	cursor: pointer;
}

.cj-carousel-root-wrapper.cj-default {
	position : relative;
	overflow : hidden;
	width    : 730px;
	height   : 200px;
}

.cj-carousel-root.cj-default {
	position : absolute;
    padding  : 0;
	left     : 0px;
	height:  auto;
	width    : 99999999px;
}

.cj-carousel-row-clear-fix-first.cj-default{
	background-color : #c8c8c8;
}

.cj-carousel-row-clear-fix-last.cj-default{
	background-color : #c8c8c8;
	margin : 10px;
}

.cj-carousel-row-clear-fix.cj-default{
	background-color : #c8c8c8;
}

.cj-carousel-row-clear-fix.cj-default,
.cj-carousel-row-clear-fix-first.cj-default,
.cj-carousel-row-clear-fix-last.cj-default{
	width  : 878px; /**page width**/
	height : 1px;
	clear  : both;
}

.cj-carousel-root-4-cols.cj-default{
	margin : 5px;
}

.cj-carousel-navigation-next-btn{
	color : black;
	width: 20px;
	cursor: pointer;
}

.cj-carousel-navigation-prev-btn{
	color : black;
	width: 20px;
	cursor: pointer;
}
