.cj-carousel-root-3-cols.cj-default{
	margin:15px;
}

.cj-carousel-page {
    float	   : left;
	width      : 980px; /** should be row-item * cols + some offset**/
    list-style : none;
	position   : relative;
}

.cj-carousel-row-item:hover{
	background-color : #f9f9f9;
}

.cj-carousel-root-wrapper.cj-default {
	position : relative;
	overflow : hidden;
	width    : 950px;
}

.cj-carousel-root.cj-default {
	position : absolute;
    padding  : 0;
	left     : 0px;
}

.cj-carousel-row-item {
	float  : left;
	margin : 10px;
	width  : 200px;
}

.cj-carousel-row-clear-fix-first.cj-default{
	background-color : #c8c8c8;
}

.cj-carousel-row-clear-fix-last.cj-default{
	background-color : #c8c8c8;
	margin : 10px;
}

.cj-carousel-row-clear-fix.cj-default{
	background-color : #c8c8c8;
}

.cj-carousel-row-clear-fix.cj-default,
.cj-carousel-row-clear-fix-first.cj-default,
.cj-carousel-row-clear-fix-last.cj-default{
	width  : 878px; /**page width**/
	height : 1px;
	clear  : both;
}

.cj-carousel-root-4-cols.cj-default{
	margin : 5px;
}

.cj-carousel-navigation-next-btn{
	color : black;
}

.cj-carousel-navigation-prev-btn{
	color : black;
}
